<%- //plug data from router into this template and render %>

<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<html>
  <body>
    <ul>
     <% messages.forEach((msg, i ) => { %>
      <li><%= msg.text %> by: <%= msg.user %> added: <%= msg.added %> </li>
      <a href="/submission/<%= i %>">
        <button>Open</button>
      </a>
     <% }) %>
    </ul>
    <a href="/new">
      <button>New Post</button>
    </a>
  </body>
</html>