<%- //plug data from router into this template and render %>

<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<html>
  <body>
    <h1>Message Board</h1>
    <ul>
    <% if (comments.length === 0){ %>
      <span>No comments</span>
    <%  } else { %>
     <% comments.forEach((c, i ) => { %>
      <li>Comment:<%= c.comment %> <br> By: <%= c.author %> <br> Added: <%= c.date %> </li>
      <a href="/submission/<%= i %>">
        <button id="<%= [i] %>" class = 'viewSub'>Open</button>
      </a>  
     <% }) %>
     <% } %>
    </ul>
    <a href="/new">
      <button>New Post</button>
    </a>
   <script src="/js/main.js"></script> 
    
  </body>
</html>